<!-- BEGIN HEADER MENU -->
<div class="nav-collapse collapse navbar-collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav">
        <li class="dropdown dropdown-fw">
            <a href="javascript:;" class="text-uppercase">
                <i class="fa fa-upload"></i> RECARGAS 
            </a>
            <ul class="dropdown-menu dropdown-menu-fw">
                <li>
                    <a href="{{ env }}recarga">
                        <i class="fa fa-upload  "></i> Realizar Recarga 
                    </a>
                </li>
                <li>
                    <a href="{{ env }}ver-recargas">
                        <i class="fa fa-list"></i> Ver Recargas 
                    </a>
                </li>
            </ul>
        </li>
        <li class="dropdown dropdown-fw">
            <a href="{{ env }}saldo" class="text-uppercase">
                <i class="fa fa-money"></i> Consultar Saldo </a>
        </li>
        <li class="dropdown dropdown-fw">
            <a href="javascript:;" class="text-uppercase">
                <i class="fa fa-phone"></i> LLAMADAS 
            </a>
            <ul class="dropdown-menu dropdown-menu-fw">
                <li>
                    <a href="{{ env }}registrar-llamada">
                        <i class="fa fa-phone-square"></i> Registrar Llamada 
                    </a>
                </li>
                <li>
                    <a href="{{ env }}ver-llamadas">
                        <i class="fa fa-list"></i> Ver Registro de Llamadas 
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>
<!-- END HEADER MENU -->
